<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <br>
  <a href="https://cse340-production-wefk.onrender.com/inv/detail/70">500-type error</a>
</footer>